---
import Layout from '../layouts/Layout.astro';
import ASCIIHeader from '../components/ASCIIHeader.jsx';
import SessionsList from '../components/SessionsList.jsx';
import { parseSessionsMarkdown } from '../utils/sessions-parser.js';

// Import the markdown file as raw text
import sessionsMarkdown from '../data/sessions.md?raw';

// Parse sessions from markdown
console.log(sessionsMarkdown);
const sessions = parseSessionsMarkdown(sessionsMarkdown) as Array<{
  number: number;
  title?: string;
  content: string;
}>;

// console.log('Raw markdown:', sessionsMarkdown);
console.log('Type:', typeof sessionsMarkdown);

console.log("sessions in home");
console.log(sessions);
---

<Layout title="DEMOS ANON">
  <ASCIIHeader client:load />
    
  <hr />  
  
  <h2>About</h2>
  <p>
    Demos Anon is a meetup for builders and doers in Dublin. All attendees 
    are technical founders or engineers working on side projects and technical 
    experiments. It's an informal, volunteer led evening of pizza, drinks, and 
    7 minute demos.
  </p>

  <p>
    We hope that Demos Anon encourages more hackers to share their work, collaborate, 
    and perhaps encourage their next project to be more ambitious. Normalise building!
  </p>

  <p>
    Current organisers: Lucy Daly (ldaly4@tcd.ie), Daire Bohan (bohan.daire@gmail.com) 
    & Cian Donovan (cian@donovan.cloud). <em>If you would like to attend a session, please 
    email one of us and tell us what you're interested in.</em>
  </p>

  <h2>Demos</h2>
  
  <SessionsList sessions={sessions as any} client:load />

  <hr />

  <h2>FAQ</h2>

  <details>
    <summary>Who?</summary>
    <p><strong>Attendees</strong></p>
    <p>Technical people who are actively building. E.g. founders, students working on projects or businesses, engineers.</p>
    
    <p><strong>Organisers</strong></p>
    <ul>
      <li>Daire Bohan - bohan.daire [at] gmail.com</li>
      <li>Lucy Daly - ldaly4 [at] tcd.ie</li>
      <li>Cian Donovan - cian [at] donovan.cloud</li>
    </ul>
    
    <p><strong>Previous Organisers</strong></p>
    <ul>
      <li>Tim Farrelly - timf34 [at] gmail.com</li>
      <li>Tom McCarthy - tommccarthyprojects [at] gmail.com</li>
    </ul>
  </details>

  <details>
    <summary>Where?</summary>
    <p>Dogpatch Labs, Dublin</p>
  </details>

  <details>
    <summary>How?</summary>
    <p>This is a private event, please contact Lucy (ldaly4 [at] tcd.ie) or Cian (cian [at] donovan.cloud) if it sounds like your kind of thing!</p>
  </details>

  <hr />

  <p>Food and drinks are sponsored by <a href="https://www.joinpatch.org/">Patch</a></p>
  <p>Space is generously provided by <a href="https://dogpatchlabs.com/">Dogpatch Labs</a></p>
</Layout>