---
import Layout from '../layouts/Layout.astro';
import ASCIIHeader from '../components/ASCIIHeader.jsx';
---

<Layout title="DEMOS - ASCII Art">
  <ASCIIHeader client:load />
    
  <hr />
  
  <h2>About</h2>
  <p>
    Demos Anon is a meetup for builders and doers in Dublin. All attendees 
    are technical founders or engineers working on side projects and technical 
    experiments. It's an informal, volunteer led evening of pizza, drinks, and 
    7 minute demos.
  </p>

  <p>
    We hope that Demos Anon encourages more hackers to share their work, collaborate, 
    and perhaps encourage their next project to be more ambitious. Normalise building!
  </p>

  <p>
    Current organisers: Lucy Daly (ldaly4@tcd.ie) 
    & Cian Donovan (cian@donovan.cloud). <em>If you would like to attend a session, please 
    email one of us and tell us what you're interested in.</em>
  </p>

  <details>
    <summary>Session 31</summary>
    <p>To be filled out</p>
  </details>

  <details>
    <summary>Session 30</summary>
    <p>To be filled out</p>
  </details>

  <details>
    <summary>Session 29</summary>
    <p>To be filled out</p>
  </details>
  
  <details>
    <summary>Session 28</summary>
    <p>Temp</p>
  </details>

  <details>
    <summary>Session 27</summary>
    <p>To be filled out</p>
  </details>

  <details>
    <summary>Session 26</summary>
    <p>To be filled out</p>
  </details>

  <details>
    <summary>Session 25</summary>
    <p>To be filled out</p>
  </details>

  <details>
    <summary>Session 24</summary>
    <p>To be filled out</p>
  </details>

  <details>
    <summary>Session 24</summary>
    <p>To be filled out</p>
  </details>

  <br />

  <ul class="tree">
    <li>
      <p style="margin: 0;">
        <strong>/demos/organisers</strong>
      </p>
      <ul>
        <li>current
          <ul>
            <li>Lucy Daly - lucydaly [at] gmail [dot] com</li>
            <li>Cian O'Donovan - cian [at] donovan [dot] cloud</li>
          </ul>
        </li>
        <li>past
          <ul>
            <li>Tim Farrelly - tim [at] gmail [dot] com</li>
            <li>Tom McCarthy - tommccarthyprojects [at] gmail [dot] com</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <hr />

  <h2>FAQ</h2>

  <details>
    <summary>Who?</summary>
    <p><strong>Attendees</strong></p>
    <p>Technical people who are actively building. E.g. founders, students working on projects or businesses, engineers.</p>
    
    <p><strong>Organisers</strong></p>
    <ul>
      <li>Daire Bohan - dara [at] bura.games</li>
      <li>Lucy Daly - ldaly4 [at] tcd.ie</li>
    </ul>
    
    <p><strong>Previous Organisers</strong></p>
    <ul>
      <li>Tim Farrelly - timf34 [at] gmail.com</li>
      <li>Tom McCarthy - tommccarthyprojects [at] gmail.com</li>
    </ul>
  </details>

  <details>
    <summary>Where?</summary>
    <p>Dogpatch Labs, Dublin</p>
  </details>

  <details>
    <summary>How?</summary>
    <p>This is a private event, please contact Tim (timf34 [at] gmail.com) or Lucy (ldaly4 [at] tcd.ie) if it sounds like your kind of thing!</p>
  </details>

  <hr />

  <p>Food and drinks are sponsored by <a href="https://www.joinpatch.org/">Patch</a></p>
  <p>Space is generously provided by <a href="https://dogpatchlabs.com/">Dogpatch Labs</a></p>
</Layout>